.navbar{
	margin: 0;
	padding: 20px 30px;
}
 
.logo{
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
/*.container{
	padding: 30px
	color: black;
	font-size: 30px;			
font-weight: bold;
	background-color: #ffffff9e;
    border: 1px solid #ffffff9e;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
            margin: 0;
            padding: 0;
            border-radius: 5px;
box-shadow: 5px 5px 15px 20px rgba(0, 0, 0, 0.20);
	display: flex;
	*/
        
}
 
.tombol{
	
	
	
	display: none;
	align-items: center;
text-decoration: none;
}
 
.tombol:hover{
	cursor: pointer;
	}
 
 
.menu{
	margin: 20px;
	display: flex;
	list-style: none;
	padding: 0;			
}
 
.menu li{
	padding-left: 0;
	margin-right: 10px;
}
 
.menu li a{
	padding:10px;
	color: white;
	text-decoration: none;
	display: inline-block;
}
 
 
@media screen and (max-width: 768px) {
	.menu {
		display: none;
	}
 
	.menu.aktif {
background-color: black;
opacity: 0.6;
border-radius: 10px;
border: 1px solid white;
		position: absolute;
display: inline-block;

		padding: 10px 20px;
		right: 0;
		left: 0;
		margin: 40px;
	}
 
	.menu.aktif li a {
		padding: 10px;
		display: inline-block !important;
	}
 
	.tombol {
		display: block;
		justify-content: center;
		margin: 0;
	color: black;
	font-size: 15px;			
font-weight: bold;
		
		background-color: #ffffff9e;
    border: 1px solid #ffffff9e;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
            margin: 0;
            padding: 0;
            border-radius: 5px;
box-shadow: 5px 5px 15px 20px rgba(0, 0, 0, 0.20);
	}

